.corner {
    clip-path: polygon(0 0, 59% 0, 48% 14%, 0 14%);
    background-color: #ff6f17;
    padding: 100px;
    width: 100px;
    padding-bottom: 110px;

    position: absolute;
}

.inner-polygon {
    clip-path: polygon(0 0, 57% 0, 48.5% 14%, 0 14%);
    background-color: black;
    padding: 80px;
    width: 130px;
    position: absolute;
}
.bar-under-polygon {
    clip-path: polygon(100% 0, 100% 10%, 0 10%, 0 0);
    background-color: black;
    padding: 10px;
    width: 123px;
    margin-top: 24px;
    position: absolute;
}

.bottom-border {
    clip-path: polygon(100% 0, 100% 10%, 0 10%, 0 0);
    background-color: black;
    padding: 10px;
    width: 124px;
    margin-top: 28px;
    position: absolute;
}

.right-border {
    clip-path: polygon(50% 0, 54% 0, 10% 100%, 6% 100%);
    background-color: black;
    padding: 11px;
    width: 30px;
    margin-left: 140px;
    margin-top: 8px;
    position: absolute;
}
.corner-polygon-wrapper {
    margin-top: -10px;
    z-index: 0;
}
